<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading"> produkt list
    </div>
    <div class="panel-body">
      <button (click)="onGetproducts()" class="btn btn-primary">
        Produkt
      </button>
      <form #f (ngSubmit)="onSearchProdukt(f.value)">
        <div class="form-group">
          <label>
            Ord
          </label>
          <input name="keyword" ngModel="" type="text"/>
        </div>
      </form>

      <table *ngIf="produkt" class="table table-striped ">
      <thead>
      <tr>
        <th>information </th><th> priset </th><th> QTE </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let p of produkt._embedded.produits">

        <td>{{p.designation}}</td>
        <td>{{p.price}}</td>
        <td>{{p.quantite}}</td>



      </tr>
      </tbody>

    </table>

      <ul *ngIf="Pages" class="nav nav-pills">
        <li *ngFor="let pages of Pages;let i=index" [ngClass]="i==page?'active':''" class="clickable"><a
          (click)="onPageProduct(i)">{{i}}</a></li>
      </ul>
    </div>
  </div>
</div>

